.nav-primary {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: '. main end';

  .nav-primary-end {
    justify-self: start;
    align-self: start;
    grid-area: end;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
      height: 41px;
      width: 41px;
      transition: 0.8s width ease-in-out, 0.8s width;
      border: none;

      .anim {
        display: flex;
        text-align: start;
        border: 2px solid $brand-primary;
        border-radius: 50%;

        i {
          font-size: 21px;
          color: $brand-primary;
          padding: 8px;
          transform: rotate(-90deg);
        }
      }

      .inside-text {
        display: none;
        opacity: 0;
        transition: display 6s ease-in-out, display 3s ease-in-out;
      }

      &:hover {
        justify-content: start;
        border: 2px solid $brand-primary;
        width: 300px;
        border-radius: 24px;

        i {
          color: $white;
          background-color: $brand-primary;
          padding: 9px;
          border-radius: 50%;
        }
        .anim {
          border: 0;
        }

        .inside-text {
          display: flex;
          opacity: 1;
        }
      }
    }
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
    grid-area: main;

    a {
      padding: 8px 16px;
      border-radius: 24px;
      transition: color 0.2s liniar, background-color 0.2s linear;

      &:hover {
        background-color: $brand-primary;
        color: $white;
      }
    }
  }
}
